llama-cpp-python
RealtimeSTT==0.1.7
RealtimeTTS==0.4.1
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
networkx==2.8.8
typing_extensions==4.8.0
fsspec==2023.6.0
imageio==2.31.6
numpy==1.24.3
requests==2.31.0
transformers==4.38.2
